/* devanagari */
@font-face {
  font-family: 'Organo';
  font-style: normal;
  src: url('assets/fonts/Organo/Organo.ttf') format('truetype');
}

@font-face {
  font-family: 'Rounded_Elegance';
  font-style: normal;
  src: url('assets/fonts/Rounded_Elegance/Rounded_Elegance.ttf') format('truetype');
}
